header nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-column: span 2;
    color: 'black';
}

header nav a {
    background-color: 'black';
    justify-content: flex-end;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    /* color: #F4EEED; */
    color: 'black';

}

header nav h1 {
    background-color: 'black';
    margin-left: 90px; 
    margin-right: 30px;
    /* color:#F4EEED; */
    color: 'black';
    flex-grow: 1;
}